<!DOCTYPE html>
<html>
  <head>
    <title>Delete Product Form</title>
  </head>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/delete_product.css' %}" />
  <link rel="stylesheet" href="{% static 'css/main.css' %}" />
  <body>
    <h2>Delete Product Form</h2>
    <form method="POST" action="/remove-product">
      {% csrf_token %}
      <select id="name" name="name" required>
        <option value="">Select a product</option>
        {% for product in products %}
        <!-- Loop over the products -->

        <option value="{{ product.name }}">{{ product.name }}</option>
        <!-- Display the product name as the option text -->
        {% endfor %}</select
      ><br /><br />

      <input type="submit" value="Delete" />
    </form>
    <form>
      <input type="button" value="Back" onclick="history.go(-1)" />
    </form>
  </body>
</html>
